*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background .2s; 
	 -moz-transition: background .2s;
    -ms-transition: background .2s;	
     -o-transition: background .2s;
        transition: background .2s;	
  outline: 0;      	
}

body {
	background-color: #00334b;
	color: #fff;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	padding: 0 10px;
}

h1 {
	text-align: center;
}

.task-list {
	margin: 10px 0;
}

input,
.task-item,
button,
.task-detail-mask
textarea {
	border-radius: 3px;
	padding: 10px;
}

textarea,
button,
input[type=text],
input[type=date]
{
	border: 0;
}

textarea,
input[type=text],
input[type=date] {
	display: block;
	width: 100%;
	background-color: #ddd; 
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	        box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}

textarea {
	min-height: 93px;
}
textarea:hover,
textarea:focus
input[type=text]:hover,
input[type=date]:hover,
input[type=text]:focus,
input[type=date]:focus {
	background-color: #fff; 
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	        box-shadow: inset 0 1px 2px rgba(0,0,0,.2);	
}

button {
	display: inline-block;
	cursor: pointer;
	color: #333;
}

.add-task input[type=text] {
	float: left;
	width: 84%;
	margin-right: 1%;
}

.add-task [type=submit] {
	background: #46b1e4;
	width: 15%;
}

.add-task [type=submit],.task-item {
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.4);
			 -moz-box-shadow: 0 2px 3px rgba(0,0,0,.4);
			 			box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.add-task [type=submit]:hover {
	background-color: #5fb9e4;
}

.task-item {
	background-color: #fff;
	color: #333;
	margin-bottom: 2px;
	border-radius: 3px;
	cursor: pointer;		
}

.task-item:hover {
	background: #ddd;
}

.task-item.completed {
	color: #aaa;
	opacity: 0.4;
}
.task-item.completed:after {
	content: "";
	display: block;
	width: 97%;
	height: 1px;
	background-color: #aaa;
	position: relative;
	bottom: 9px;
	float: right;
}

.task-detail,.task-detail-mask {
	position: absolute;
	display: none;
}

.task-detail {
	background-color: #fff;
	color: #333;
	width: 50%;
	height: 100%;
	padding: 10px;
	border-radius: 3px 0 0 3px;
	bottom: 0;
	right: 0;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
	        box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}

/*选取.task-detail下的孩子*/
.task-detail form> * {
	margin-bottom: 10px;
}

.task-detail .content {
	padding: 10px;
	font-weight: 900;
	cursor: pointer;
}

.task-detail-mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(30,30,30,.6);
}

.action {
	color: #888;
	font-size: 90%;
}

.action:hover {
	color: #333;
}

.fr {
	float: right;
}

.task-content {
	margin-left: 10px;
}